html, body{
    padding:0;
    margin:0;
}

.main-section{
    width: 100%;
    height: 100vh;

}

.main-section-1{
    background: black;

}

.main-section-2{
    background: peru;

}

.main-section-3{
    background: saddlebrown;

}

.main-section-4{
    background: firebrick;
}

.portfolio article{
    width:30%;
    height:25%;
    border: 1px solid #000;
    font-display: grid;
}